* {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

body, html {
	background: #f7f7f7;
}

#box {
	width: 400px;
	height: 600px;
	background: #fff;
	margin: auto;
	margin-top: 70px;
}

#form {
	width: 320px;
	height: 400px;
	margin: auto;
}

input, button {
	outline: none;
}
#user {
	width: 320px;
	height: 40px;
	border-bottom: 2px solid #CBC5BF;
	margin-top: 50px;
	margin-left: 30px;
}

#pass {
	width: 320px;
	height: 40px;
	border: none;
	margin-top: 50px;	
	margin-left: 30px;
	border-bottom: 2px solid #CBC5BF;
}

#user:active {
	border-bottom: 2px solid #6A6AFF;
}

#pass:active {
	border-bottom: 2px solid #6A6AFF;
}
#tip {
	width: 177px;
	margin: 80px auto 0 auto;
	color: red;
	opacity: 0;
}

#lr_box {
	width: 300px;
	height: 50px;
	margin: 10px auto;
	box-sizing: border-box;
}
#login{
	width: 100px;
	height: 40px;
	float: left;
}

#register {
	width: 100px;
	height: 40px;
	float: right;
}